# Local build files
/.build/*
!/.build/build-artifact.json

# TYPO3-related files
!/public/
/public/*
!/public/.htaccess
!/public/robots.txt
!/config/
/config/*
!/config/system/
/config/system/*
!/config/system/additional.php
!/config/system/settings.php
!/config/sites/
# Temporary files
/var/

# Test files
/.php-cs-fixer.cache
/.phpunit.result.cache

# Composer-related files
/vendor/
