# Local build files
/.build/*
!/.build/build-artifact.json

# TYPO3-related files
!/public/
/public/*
!/public/.htaccess
!/public/robots.txt
!/public/apple-touch-icon.png
!/public/favicon.ico
!/public/favicon.svg
!/public/favicon-96x96.png
!/public/site.webmanifest
!/public/web-app-manifest-192x192.png
!/public/web-app-manifest-512x512.png

!/config/
/config/*
!/config/system/
/config/system/*
!/config/system/additional.php
!/config/system/settings.php
!/config/sites/
# Temporary files
/var/

# Test files
/.php-cs-fixer.cache
/.phpunit.result.cache

# Composer-related files
/vendor/

