figure.card {
    border-radius:0;
    border: none;
    figcaption {
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        padding: 0.25rem;
        backdrop-filter: blur(5px);
        color: light-dark(#000, #fff);
        h4 {
            padding: 0;
            margin: 0;
        }
        p {
            padding:0;
            margin:0;
        }
    }
}
